{% extends 'base.html' %}

{% block title %} Search results {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<div class="container my-3">
  <h2>Search results : </h2>
  {% if allPosts|length < 1 %}
 <p>No search results</p>
  Your search query : <b>{{query}}</b> did not match any documents. <br>
  Suggestions:
  <ul>
  <li>Make sure that all words are spelled correctly.</li>
  <li>Try more general keywords.</li>
 <li> Try fewer keywords.</li>
 <li> Try different keywords.</li>
  </li>
  </ul>

  {% endif %}

<div class="container mt-5 mb-3">

    <div class="row">
        {% for blog in allPosts %}
        <div class="col-lg-4 my-4">
            <div class="card shadow" style="width: 20rem; height: 33rem;">
                <img src="/media/{{blog.image}}" class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}} <br><small>by {{blog.author}}</small></h5>
                  <p class="card-text">{{blog.content| truncatechars:210}}</p>
                  <a href="/blog/{{blog.slug}}" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="/delete_blog_post/{{blog.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}